.uploader-modal {
    .tags {
        .tag {
            font-size: 14px;
            text-transform: uppercase;
            &:first-of-type {
                background: $accent-color;
            }
        }
    }
}