.modal.post-modal.is-active(v-if='postDetail')
    .modal-background(v-on:click='postDetail = null')
    button.delete(v-on:click='postDetail = null')
    .modal-card
        .modal-card-head
            .header
                .post-title
                    .poster Posted by
                        a {{postDetail.user.username}}
                        span {{postDetail.updatedAt}}
                    p {{postDetail.title}}
                a.heart
                    i.fas.fa-heart
        .modal-card-body
            .image
                img(:src='postDetail.media[0].mediaUrl')
                .comments-container
                    p.comment-title Comments
                    p.post-comments(v-if='postDetail.comment.length === 0') Be the first to comment
                    .post-comments(v-for="comment in postDetail.comment")
                        .comment-detail(v-if='comment.user && comment.comment')
                            p.username {{comment.user.username}}
                            p.comment {{comment.comment}}
        footer.modal-card-foot
            .post-footer
                .footer-item
                    i.vote.fas.fa-fire
                    span.count {{postDetail.postVote.length}}
                .footer-item
                    i.far.fa-comment
                    span.count {{postDetail.comment.length}}
                .footer-item.comment-input
                    input(type='text' placeholder='Write your comments...').input.is-rounded
                .footer-item
                    a.button.is-rounded Post


